@model IEnumerable<NEXUS.Models.PackagePlan>

@{
    Layout = "_LayoutAdmin";
}


<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4 text-center">FETCH PACKAGES</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Package Name</th>
                            <th>Package Desc</th>
                            <th>Package Price</th>
                            <th>Package Validity</th>
                            <th>Package Plan</th>
                            <th>UPDATE</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PackName</td>
                                <td>@item.PackDesc</td>
                                <td>@item.PackPrice</td>
                                <td>@item.PackValidity</td>
                              <td>@item.PackageId</td>
                                <td>
                                    <a asp-route-id="@item.PackId" asp-controller="Admin" asp-action="editPackage" class="btn btn-success">UPDATE</a>
                                </td>
                                <td>
                                    <a asp-route-id="@item.PackId" asp-controller="Admin" asp-action="deletePackage" class="btn btn-danger">DELETE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
